HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store
**/.DS_Store

### Data ###
db/
./src/java/com/zcore/mabokeserver/jobs/
./src/java/com/zcore/mabokeserver/search/
./src/java/com/zcore/mabokeserver/zregex/
./src/java/com/zcore/mabokeserver/channel/
./src/java/com/zcore/mabokeserver/contribution/
#envs
#.env
#maboke.env
